<header class="shadow py-2 bg-dark-green">
    <div class="col">
        <div id="topBanner" class="container-fluid d-flex flex-wrap justify-content-center rounded-1">
            <a id="ctaLink" href="/"
                class="d-flex align-items-center mb-3 mb-lg-0 text-white text-decoration-none link-info">
                <span class="me-2">Join Our Personalized Nutrition Demo For Free</span>
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
        <span class="visible-xs visible-sm mobile">
        </span>
        <span class="divider py-2 pb-0"></span>
        <app-navbar [isHeader]="true"></app-navbar>
    </div>
</header>