/* FEATURES */
.row>.col {
    padding: 0;
    /* Remove default padding */
}

.card {
    border: #E5F5BD 1px solid;
    border-radius: 12px;
    background-color: #F6FBE9;
    color: #262626;
    margin-bottom: 30px;
    padding: 50px;
    padding-top: 40px;
    height: 253px;
}

.feature-title {
    font-size: 24px;
}

.feature-description {
    font-size: 18px;
    font-weight: 500;
}

.card p {
    padding-top: 24px;
}

/* END FEATURES */

/*LAPTOP*/
@media (min-width: 1200px) and (max-width: 1366px) {
    .card {
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 30px;
        height: 250px;
    }

    .card img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    .card {
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 40px;
        height: 250px;
    }

    .card img {
        width: 54px;
        height: 54px;
    }

    .feature-title {
        font-size: 20px;
    }

    .card p {
        padding-top: 20px;
    }

    .feature-description {
        font-size: 16px;
        font-weight: 500;
    }
}

/*MOBILE*/
@media (max-width: 390px) {
    .card {
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 20px;
        height: 229px;
    }

    .card img {
        width: 48px;
        height: 48px;
    }

    .card p {
        padding-top: 16px;
        font-size: 14px;
    }

    .feature-title {
        font-size: 18px;
    }
}