<app-header></app-header>
<main>
  <div class="container-fluid hero-container p-0">
    <div class="row">
      <div class="col-12 col-lg-6 p-0">
        <div class="hero-img">
          <img src="/images/headerImg.png" class="w-100" />
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0">
        <div class="hero">
          <h3 class="fw-semibold">Transform Your ❤️ Health with</h3>
          <h1 class="fw-bold">Personalized Nutrition Coaching</h1>
          <p class="fw-normal fs-18">Welcome to Nutritionist, your partner in achieving optimal health through
            personalized nutrition
            coaching. Our certified nutritionists are here to guide you on your weight loss journey, providing
            customized plans and ongoing support. Start your transformation today and experience the power of
            personalized nutrition coaching.</p>
          <div class="d-flex w-100 ctaWrapper">
            <a class="d-flex fw-semibold fs-18 btnCTA btnStarter m-0">Get Starter Today</a>
            <a class="d-flex fw-semibold fs-18 btnCTA btnDemo">Book a Demo</a>
          </div>
          <div class="customers w-100 d-flex align-items-center">
            <div class="customersImg justify-content-center d-flex">
              <img class="customerImg" src="images/customer1.png" />
              <img class="customerImg" src="/images/customer2.png" />
              <img class="customerImg" src="/images/customer3.png" />
            </div>
            <div class="customerText">
              <span class="customerCount fw-bold">430+ </span>
              <span class="fw-semibold">Happy Customers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid content-wrapper-container">
    <div class="row anchor features justify-content-center">
      <div class="d-flex justify-content-center">
        <h2>Features</h2>
      </div>
      <div class="description d-flex justify-content-center">
        <p>Welcome to the Feature Section of Nutritionist, your ultimate destination for all things nutrition and
          wellness.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
          <div class="w-100">
            <app-feature *ngFor="let feature of features | slice:0:3" [title]="feature.title"
              [description]="feature.description" [imageSrc]="feature.imageSrc">
            </app-feature>
          </div>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center">
          <div class="w-100">
            <app-feature *ngFor="let feature of features | slice:3:6" [title]="feature.title"
              [description]="feature.description" [imageSrc]="feature.imageSrc">
            </app-feature>
          </div>
        </div>
      </div>
    </div>
    <div class="row anchor blogs justify-content-center">
      <div class="d-flex justify-content-center">
        <h2>Our Blogs</h2>
      </div>
      <div class="description d-flex">
        <p class="text-center">Our blog is a treasure trove of informative and engaging articles written by our team
          of nutritionists,
          dietitians, and wellness experts. Here's what you can expect from our blog.</p>
      </div>
      <div class="row justify-content-center" id="postsContainer">
        <div class="col-lg-6 col-12 d-flex justify-content-center">
          <div class="w-100">
            <app-post *ngFor="let post of posts | slice:0:2" [imgSrc]="post.imgSrc" [alt]="post.alt"
              [subtitle]="post.subtitle" [title]="post.title" [description]="post.description"
              [authorImg]="post.authorImg" [authorAlt]="post.authorAlt" [authorName]="post.authorName"
              [date]="post.date">
            </app-post>
          </div>
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center">
          <div class="w-100">
            <app-post *ngFor="let post of posts | slice:2:4" [imgSrc]="post.imgSrc" [alt]="post.alt"
              [subtitle]="post.subtitle" [title]="post.title" [description]="post.description"
              [authorImg]="post.authorImg" [authorAlt]="post.authorAlt" [authorName]="post.authorName"
              [date]="post.date">
            </app-post>
          </div>
        </div>
      </div>
    </div>
    <div class="row anchor testimonials justify-content-center">
      <div class="d-flex justify-content-center">
        <h2>Our Testimonials</h2>
      </div>
      <div class="description d-flex justify-content-center">
        <p>Our satisfed clients share their success stories and experiences on their journey to better health and
          well-being.</p>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <app-testimonials-container></app-testimonials-container>
        </div>
      </div>
    </div>
    <div class="row anchor price justify-content-center">
      <div class="d-flex justify-content-center">
        <h2>Our Pricing</h2>
      </div>
      <div class="description d-flex justify-content-center">
        <p>We outline our flexible and affordable options to support you on your journey to optimal health and
          nutrition. We believe that everyone deserves access to personalized nutrition guidance and resources</p>
      </div>
      <div class="d-flex justify-content-center ">
        <div class="plan-buttons d-flex justify-content-center align-items-center">
          <button class="btn plan-btn btn-primary" [ngClass]="{ 'active': isMonthly }"
            (click)="toggleSubscription(true)">Monthly</button>
          <button class="btn plan-btn btn-secondary" [ngClass]="{ 'active': !isMonthly }"
            (click)="toggleSubscription(false)">Yearly</button>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3 mb-5">
        <p>Save 50% on Yearly</p>
      </div>
      <app-plan></app-plan>
    </div>
  </div>
</main>
<app-footer *ngIf="!isMobile"></app-footer>
<app-mobile-footer *ngIf="isMobile"></app-mobile-footer>