<div class="post-item">
    <img src="{{imgSrc}}" alt="{{alt}}" class="img-fluid imgPost">
    <h5 class="text-muted fs-18">{{subtitle}}</h5>
    <h3 class="post-title fw-semibold">{{title}}</h3>
    <p class="post-description fs-18">{{description}}</p>
    <div class="author-info mt-3 d-flex justify-content-between">
        <div class="author-info-wrapper d-flex">
            <img src="{{authorImg}}" alt="{{authorAlt}}" class="justify-content-start">
            <div>
                <p class="mb-0 author-name fw-semibold">{{authorName}}</p>
                <p class="info fs-18">{{date}}</p>
            </div>
        </div>
        <div class="d-flex reaction-wrapper gap-2">
            <div class="post-icons align-items-center justify-content-center">
                <i class="bi bi-heart"></i>
            </div>
            <div class="post-icons align-items-center justify-content-center">
                <i class="bi bi-bookmark"></i>
            </div>
        </div>
    </div>
</div>